<x-layouts:app>
  <slot name="meta_title">Glimr ✨</slot>

  <slot name="head">
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900"
      rel="stylesheet"
    />

    <style>
      @keyframes float {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }
    </style>
  </slot>

  <div
    class="flex items-center justify-center relative h-screen bg-linear-to-br from-[#ffb8e4] via-white to-[#ffb8e4] font-['Inter'] text-[#2c2e49] antialiased"
  >
    <div class="text-center">
      <x-logo
        class="animate-[float_3s_ease-in-out_infinite] mb-7.5 mx-auto"
        width="140"
      />

      <div class="text-[17px] mb-1.25 font-medium">Welcome to Glimr ✨</div>

      <div class="mb-5 text-[#9ea0b7] text-[15px]">
        The batteries-included web framework for Gleam.
      </div>

      <div class="mt-5 flex items-center justify-center">
        <a
          target="_blank"
          href="https://github.com/glimr-org/glimr?tab=readme-ov-file#glimr-"
          class="inline-flex items-center gap-1 text-[#2c2e49] mx-2.5 text-sm no-underline transition-colors duration-300 hover:text-[#ff43a1]"
        >
          <x-icons:reader class="mr-px text-[#ff43a1]" width="15" />

          Documentation
        </a>
        <a
          target="_blank"
          href="https://github.com/glimr-org/framework"
          class="inline-flex items-center gap-1 text-[#2c2e49] mx-2.5 text-sm no-underline transition-colors duration-300 hover:text-[#ff43a1]"
        >
          <x-icons:frame class="mr-px text-[#ff43a1]" width="15" />

          Core Framework
        </a>
        <a
          target="_blank"
          href="https://gleam.run/"
          class="inline-flex items-center gap-1 text-[#2c2e49] mx-2.5 text-sm no-underline transition-colors duration-300 hover:text-[#ff43a1]"
        >
          <x-icons:star class="mr-px text-[#ff43a1]" width="15" />

          Learn Gleam
        </a>
      </div>
    </div>
  </div>
</x-layouts:app>
