<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Loom script and stylesheet -->
    <script defer src="/loom.js"></script>

    <!-- header scripts and meta tags -->
    <slot name="head" />

    <title><slot name="meta_title" /></title>
  </head>
  <body>
    <slot />

    <footer l-if="slot.footer">
      <slot name="footer" />
    </footer>

    <!-- footer scripts -->
    <slot name="footer_scripts" />
  </body>
</html>
